<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fullsail.android.safetravels">

    <application
        android:allowBackup="true"
        android:icon="@drawable/playstore_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/playstore_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeTravels.Starting.Fullscreen">
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LocationSearchActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeTravels" />
        <activity
            android:name=".ConversationActivity"
            android:exported="false"
            android:parentActivityName=".ConversationListActivity"
            android:theme="@style/Theme.SafeTravels" />
        <activity
            android:name=".UserMessageSearchActivity"
            android:exported="false"
            android:parentActivityName=".ConversationListActivity"
            android:theme="@style/Theme.SafeTravels" />
        <activity
            android:name=".LaunchActivity"
            android:exported="true"
            android:theme="@style/Theme.SafeTravels.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.SafeTravels.Fullscreen" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.SafeTravels.Fullscreen" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="true"
            android:theme="@style/Theme.SafeTravels.Fullscreen" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.SafeTravels.Fullscreen" />
        <activity
            android:name=".FriendsActivity"
            android:exported="true"
            android:theme="@style/Theme.SafeTravels.Fullscreen" />
        <activity
            android:name=".NewPostActivity"
            android:exported="true"
            android:theme="@style/Theme.SafeTravels.Fullscreen" />
        <activity
            android:name=".ConversationListActivity"
            android:exported="true"
            android:theme="@style/Theme.SafeTravels.Fullscreen" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.SafeTravels.Fullscreen" />
    </application>

</manifest>